.header {
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  height: 80px;
  width: 100vw;
  background-color: #222;
  color: #fff;
  align-items: center;
  
  .title {
    margin-left: 50px;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
  }
}